<table>
        <tr>
            <td>{{ abilities().vitality}}</td>
            <td>{{ abilities().composure}}</td>
            <td>{{ abilities().reason}}</td>
            <td>{{ abilities().presence}}</td>
            <td>{{ abilities().sensitivity}}</td>
        </tr>
        <tfoot>
            <!-- TODO: add reminder text? -->
            <th>Vitality</th>
            <th>Composure</th>
            <th>Reason</th>
            <th>Presence</th>
            <th>Sensitivity</th>
        </tfoot>
</table>