@use 'variables' as *;
@use 'fonts';
@use 'reset';

html {
    font-size: $root-font-size;
}

body {
    width: 100vw;
    max-width: 100vw;
    background-color: #fff6f0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > * {
    flex: 1 1 $content-width;
    max-width: $content-width;
}

h1 {
    font-family: "Manufacturing Consent";
    font-size: 4rem;
    margin: -0.5rem 0 -0.25rem;
    text-align: center;
}

h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    border: solid #000 1px;
    border-radius: 0.5rem;
    padding: 0 1rem;
    margin: 0 1px;
    font-size: 1.5rem;
}

p {
    &::first-letter {
        width: 2em;
        height: 2em;
        font-size: 200%;
        font-weight: bold;
    }
}

a {
    text-decoration: underline;

    &:hover {
        color: #555;
    }
}


.shepu-gm-screen-item {
    border: 1px solid black;
}

.shepu-abilities-mini {
    font-size: 0.5rem;
}

li.shepu-unmarked {
    color: #999;
    display: none;
}