@if(!bPlaybookLoading() || playbookData()) {
    <h1>{{ playbookData()!.name }}</h1>
    <p>{{ playbookData()!.description }}</p>
    <article>
        <h2>Abilities</h2>
        <shepu-abilities [abilities]="playbookData()!.abilities"></shepu-abilities>
    </article>
    <article>
        <h2>Conditions</h2>
        <ul class="shepu-conditions">
            @for (condition of playbookData()!.conditions; track $index) {
                <li>{{ condition }}</li>
            }
        </ul>
    </article>
    <article>
        <h2>Dawn Questions</h2>
        <ul>
            @for(dawnQuestion of playbookData()!.dawnQuestions; track dawnQuestion.id) {
                <!-- TODO: figure out how checked, disabled interact with screen readers -->
                 <!-- TODO: grey out ones that have not been checked, reorder potentially, & italicize nonremovable ones? -->
                <li><input type="checkbox" name="'checkbox-'+ dawnQuestion.id" [id]="'checkbox-'+ dawnQuestion.id" [disabled]="!dawnQuestion.bEditable" [checked]="dawnQuestion.bMarked">{{dawnQuestion.description}}</li>
            }
        </ul>
    </article>
    <article>
        <h2>Playbook Moves</h2>
        <ul>
            @for(move of playbookData()!.moves; track move.id) {
                <li><input type="checkbox" name="'checkbox-'+ move.id" [id]="'checkbox-move-'+ move.id" [checked]="move.bMarked"><strong>{{move.name}}</strong> - {{move.description}}</li>
            }
        </ul>
    </article>
    <article>
        @for( maskData of playbookData()!.masks.entries(); track maskData[0]) {
            <h2>{{maskData[0]}}</h2>
            <ul>
                @for(mask of maskData[1]; track mask.id) {
                    <li><input type="checkbox" name="'checkbox-mask-'+ mask.id" [id]="'checkbox-'+ mask.id" [checked]="mask.bMarked">{{mask.description}}</li>
                }
            </ul>
        }
    </article>
} @else if (!(bPlaybookLoading())) {
    <p>Could not find this playbook!</p>
} @else {
    <!-- TODO: make this fade in or something so it's softer -->
     <!-- TODO: make the content fade in or something too -->
    <div style="height: 50vh">Loading...</div>
}
<a routerLink="">Back to home</a>
