<article class="shepu-gm-screen-item">
    <h3>
        <span><a [routerLink]="['playbook', item().id]">{{ item().name }}</a></span>
        <span><shepu-abilities class="shepu-abilities shepu-abilities-mini" [abilities]="item().abilities"></shepu-abilities></span>
        <span>Masks Remaining: {{ masksRemaining() }}/{{item().masksTotal}}</span>
    </h3>
    <section class="shepu-gm-screen-dawn-questions">
        <h4>Dawn Questions</h4>
        <ul>
            @for(dawnQuestion of item().dawnQuestions; track $index) {
                <li [class.shepu-unmarked]="!dawnQuestion.bMarked"><span><input type="checkbox" disabled [checked]="dawnQuestion.bCompleted"></span>&nbsp;{{ dawnQuestion.description}}</li>
            }  
        </ul>
    </section>
    <section class="shepu-gm-screen-conditions">
        <h4>Conditions</h4>
        @if (item().conditions.length) {
            <ul>
                @for(condition of item().conditions; track $index) {
                    <li>{{ condition }}</li>
                }  
            </ul>
        } @else {
            <p>None</p>
        }
    </section>
    <section class="shepu-gm-screen-personal-quarters">
        <h4>Personal Quarters</h4>
        <shepu-personal-quarters [data]="item().personalQuarters" [editable]="false"></shepu-personal-quarters>
    </section>
</article>